<div class="container-fluid">
    <div class="row justify-content-center align-items-center vh-100">
      <div class="card shadow border" style="width: 18rem;">
        <div class="card-body">
          <h2 class="card-title">Recuperar Contraseña</h2>
          <form [formGroup]="registerForm">
            <div class="mb-4">
                <label for="password" class="form-label">Nueva Contraseña</label>
                <input type="password" class="form-control" formControlName="newPassword">
            </div>
              <div class="mb-4">
                  <label for="password" class="form-label">Confirmar Nueva Contraseña</label>
                  <input type="password" class="form-control" formControlName="confirmNewPassword">
              </div>
              <div class="col">
                  <div class="d-grid mb-4">
                      <button type="submit" class="btn btn-primary" (click)="setPassword()">Cambiar Clave</button>
                  </div>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  