<div class="container-fluid">
    <div class="row justify-content-center align-items-center vh-100">
      <div class="card shadow border" style="width: 18rem;">
        <div class="card-body">
          <h2 class="card-title">Recuperar Contraseña</h2>
          <form [formGroup]="registerForm">
            <div class="mb-4">
              <label class="form-label">Nueva Contraseña</label>
              <input type="password" class="form-control" formControlName="newPassword" required="" placeholder="********">
              <div *ngIf="registerForm.controls['newPassword'].touched && registerForm.controls['newPassword'].errors && registerForm.controls['newPassword'].errors['required']"
                        class="text text-danger mt-1">
                        La Contraseña es requerida
              </div>
            </div>
            <div class="mb-4">
              <label class="form-label">Confirmar Nueva Contraseña</label>
              <input type="password" class="form-control" formControlName="confirmNewPassword" required="" placeholder="********">
              <div *ngIf="registerForm.controls['confirmNewPassword'].touched && registerForm.controls['confirmNewPassword'].errors && registerForm.controls['confirmNewPassword'].errors['required']"
                        class="text text-danger mt-1">
                        La Contraseña es requerida
              </div>
              <div *ngIf="registerForm.controls['confirmNewPassword'].value != registerForm.controls['newPassword'].value"
                      class="text text-danger mt-1">
                      Las Contraseñas deben ser iguales
                </div>
            </div>
            <div class="col">
                <div class="d-grid mb-4">
                    <button type="submit" class="btn btn-primary" (click)="setPassword()">Cambiar Clave</button>
                </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  