<div class="container-fluid">
  <div class="row justify-content-center align-items-center vh-100">
    <div class="card shadow border" style="width: 18rem;">
      <div class="card-body">
        <h2 class="card-title">Iniciar Sesión</h2>
        <form id="login">
          <div class="mb-4">
            <label for="email" class="form-label">Correo electrónico</label>
            <input type="email" class="form-control" id="email" name="email">
          </div>
          <div class="mb-4">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="password" name="password">
          </div>
            <div class="col">
                <div class="d-grid mb-4">
                    <button type="submit" class="btn btn-primary" (click)="doLogin() "id="bLogin" disabled="true">Iniciar Sesión</button>
                </div>
                <div class="d-grid">
                    <button type="submit" class="btn btn-primary" (click)="doRegist()">Registrarse</button>
                </div>
            </div>
            <div class="my-3">
                <span><a routerLink="/auth/forgot-password">Olvido su contraseña?</a></span>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>
