<mat-toolbar color="primary">
  <button mat-icon-button (click)="toggleSidebar()">
    <mat-icon>menu</mat-icon>
  </button>
  
  <span class="example-spacer"></span>
  <div ngbDropdown>
    <button mat-icon-button class="example-icon" ngbDropdownToggle>
        <mat-icon>person</mat-icon>
        <div ngbDropdownMenu>
            <div ngbDropdownItem disabled="">{{perfil.nickname}}</div>
            <div ngbDropdownItem disabled="">{{perfil.name}} {{perfil.lastName}}</div>
            <div class="dropdown-divider"></div>
            <button ngbDropdownItem (click)="goMyProfile()">Mi Perfil</button>
            <div class="dropdown-divider"></div>
            <button ngbDropdownItem (click)="disconnect()">
                <mat-icon>power_settings_new</mat-icon>
                Desconectar
            </button>
        </div>
      </button>
  </div>
</mat-toolbar>