<app-nav-bar></app-nav-bar>
<div class="container-fluid">
  <div class="row my-4">
    <div class="col col-md-4">
      <div class="card" style="max-width: 38rem;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../../../assets/images/149071.png" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Apodo</h5>
              <p class="card-text">Puntos: 999.999.999</p>
              <p class="card-text"><small class="text-muted">Ultima sesion 19/10/1983</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h2 class="mt-4"></h2>
  <div class="row my-2 g-4 ">
    <div class="col">

    </div>
  </div>
</div>
