<app-nav-bar></app-nav-bar>
<div class="container-fluid">
  <h1>Ranking</h1>
  <div class="flex flex-col flex-auto" *ngIf="loading">
    <div class="showLoading">
        <mat-progress-spinner [diameter]="60" [mode]="'indeterminate'">
        </mat-progress-spinner>
        <div class="mt-2 font-medium">Procesando...</div>
    </div>
  </div>
  <div class="row my-4" *ngIf="!loading">
    <div class="col col-md-8">
      <div class="card">
        <div class="card-header text-white" style="background-color: blueviolet">
          TOP 10
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngFor="let user of users; index as i">{{i + 1}}) {{user.nickname}}</li>
        </ul>
      </div>
    </div>
    <div class="col col-md-4">
      <div class="card" style="max-width: 38rem;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../../../assets/images/149071.png" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{perfil.nickname}}</h5>
              <h5 class="card-title">{{perfil.email}}</h5>
              <p class="card-text">Puntos: {{perfil.score}}</p>
              <!--<p class="card-text"><small class="text-muted">Ultima sesion 19/10/1983</small></p>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
