<div class="container-fluid">
    <div class="row justify-content-center align-items-center vh-100">
      <div class="card shadow border" style="width: 30rem;">
        <div class="card-body">
          <h2 class="card-title">Olvido su contraseña?</h2>
          <form [formGroup]="forgotPassForm">
              <p class="card-text">Ingrese correo electrónico de su cuenta y le enviaremos instrucciones para resetear su contraseña</p>
              <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" formControlName="email" required email>
                <label for="floatingInput">Correo electrónico</label>
                <div *ngIf="forgotPassForm.controls['email'].errors && forgotPassForm.controls['email'].touched && forgotPassForm.controls['email'].errors['required']"
                class="text text-danger mt-1">
                    El Correo es requerido
                </div>
                <div *ngIf="forgotPassForm.controls['email'].errors && forgotPassForm.controls['email'].touched && forgotPassForm.controls['email'].errors['email']"
                class="text text-danger mt-1">
                    Correo con formato invalido
                </div>
              </div>
              
              <div class="d-grid">
                <button type="submit" class="btn btn-primary" (click)="doActivatePassword()" [disabled]="!forgotPassForm.valid">Recuperar Contraseña</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
